# Ignore everything by default
**

# Allow only specific folders needed for the backend
!api/
!api/**
!PDF_Extraction_and_Markdown_Generation/
!PDF_Extraction_and_Markdown_Generation/**
!WebScraping_Extraction_and_Markdown_Generation/
!WebScraping_Extraction_and_Markdown_Generation/**

# Ignore Python cache & virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.log
